.container {
  /* border: solid 1px #fffdf9; */
  display: flex;
  height: 100%;
  margin-top: 90px;
  padding: 10px;
  z-index: -1;
}

.container div {
  border: 1px #fffdf9 solid;
  background: green;
  z-index: -2;
}
.box-1 {
  flex: 1;
}
.box-2 {
  flex: 2;
}
.box-3 {
  flex: 2;
}
.box-4 {
  flex: 2;
}

.player-role {
  margin-top: 0;
  display: flex;
  padding: 10px;
}

.player-role div {
  text-align: center;
  padding: 10px;
}

.player-role p {
  font-size: 1.6rem;
  color: #fffdf9;
}
