.leftSide,
.rightSide {
  height: 50vh;
  width: 100%;
}

.container {
  display: flex;
  height: 90%;
  margin-top: 0;
  padding: 10px;
}

.container div {
  border: 1px #fffdf9 solid;
  background: green;
}
.box-1 {
  flex: 1;
}
.box-2 {
  flex: 2;
}
.box-3 {
  flex: 2;
}
.box-4 {
  flex: 2;
}

.player-role {
  margin-top: 0;
  display: flex;
  padding: 10px;
}

.player-role div {
  text-align: center;
  padding: 10px;
}

.player-role p {
  font-size: 1.6rem;
  color: #fffdf9;
}

@media screen and (min-width: 768px) {
  .leftSide,
  .rightSide {
    height: 100vh;
  }
}

/* .example-list { */
/* width: 500px;
  max-width: 100%;
  border: solid 1px #ccc; */
/* min-height: 60px; */
/* display: block; */
/* background: white; */
/* border-radius: 4px; */
/* overflow: hidden; */
/* } */

/* .example-box { */
/* padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87); */
/* display: flex; */
/* flex-direction: row; */
/* align-items: center; */
/* justify-content: space-between; */
/* box-sizing: border-box; */
/* cursor: move;
  background: white;
  font-size: 14px; */
/* } */

/* .cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
} */

/* .cdk-drag-placeholder {
  opacity: 0;
} */

/* .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */

/* .example-box:last-child {
  border: none;
} */

/* .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */
