<!-- Navbar here! -->
<div class="row no-gutters">
  <div class="col-md-4">
    <div
      class="leftSide d-flex justify-content-center align-items-center no-gutters"
    >
      <div class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition">
        <div class="player-top">
          <p>Name</p>
          <button class="action btn btn-secondary btn-sm">Save</button>
        </div>
        <div class="player-bottom">
          <p>3-1-2</p>
          <img class="action" src="assets/Images/Icons/bin.png" alt="Bin" />
        </div>
      </div>

      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let player of players" cdkDrag>
          {{ player.title }}
          <img *cdkDragPreview [src]="player.poster" [alt]="player.title" />
        </div>
      </div>

      <!-- End -->
    </div>
  </div>

  <div class="col-md-8">
    <div
      class="rightSide d-flex justify-content-center align-items-center no-gutters"
    >
      <!-- Field -->
      <div class="container col-md-12">
        <div class="box-1">
          <img
            class="player-1"
            src="assets/Images/Icons/player-1.png"
            alt="player"
          />
        </div>
        <div class="box-2">
          <!-- <img
            class="player-2"
            src="assets/Images/Icons/player-1.png"
            alt="player"
          /><br />
          <img
            class="player-3"
            src="assets/Images/Icons/player-1.png"
            alt="player"
          /><br />
          <img
            class="player-4"
            src="assets/Images/Icons/player-1.png"
            alt="player"
          /> -->
        </div>
        <div class="box-3">
          <!-- <img
            class="player-5"
            src="assets/Images/Icons/player-1.png"
            alt="player"
          /> -->
        </div>
        <div class="box-4">
          <!-- <img
            class="player-6"
            src="assets/Images/Icons/player-1.png"
            alt="player"
          /><br />
          <img
            class="player-7"
            src="assets/Images/Icons/player-1.png"
            alt="player"
          /> -->
        </div>
      </div>
    </div>
    <div class="player-role text-light col-md-12">
      <div class="box-1">GoalKeeper</div>
      <div class="box-2">Defenders</div>
      <div class="box-3">Midfielders</div>
      <div class="box-4">Forwards</div>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- <app-landing-footer></app-landing-footer> -->
