<!-- Navbar here! -->
<div class="row no-gutters">
  <div class="col-md-4">
    <div
      class="leftSide d-flex justify-content-center align-items-center no-gutters"
    >
      <div class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition">
        <div class="player-top">
          <p>Missi</p>
          <p>3-1-2</p>
        </div>
        <br />
        <div class="player-bottom">
          <button class="action btn btn-secondary btn-sm">Save</button>
          <img class="action" src="assets/Images/Icons/bin.png" alt="Bin" />
        </div>
      </div>

      <!-- End -->
    </div>
  </div>
</div>

<!-- Footer -->
<!-- <app-landing-footer></app-landing-footer> -->
