
<div class="card text-center">
    <div class="card-header">
          Skills filter
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h5 class="col-6">Max-Age:</h5> <input type="number" class="col-2">
                </div>
                <div class="slidecontainer">
                   <p>Attack</p> <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p>Value: <span id="demo"></span></p>
                </div>
                <div class="slidecontainer">
                    <p>Defence</p> <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p>Value: <span id="demo"></span></p>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <h5 class="col-6">Max-Age:</h5> <input type="number" class="col-2">
                </div>
                <div class="slidecontainer">
                    <p>Attack</p> <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p>Value: <span id="demo"></span></p>
                </div>
                <div class="slidecontainer">
                    <p>Defence</p> <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p>Value: <span id="demo"></span></p>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="#" class="btn btn-primary">Search</a>
            </div>
        </div>
    </div>
</div>
