<div class="container-fluid">
    <div class="row justify-content-center mt-5">
                    <div class="col-3">
                        <img src="/assets/icons/user.png"/>
                    </div>
                    <div class="col-6 text-white">
                        <h3>{{ user.email }}</h3>
                        <p><span class="font-weight-bold">User type: </span> {{ user.type_user }}</p>
            <button class="btn btn-warning btn-sm m-4" [routerLink]="['/admin/usercreator/', user.id]">
        Update
      </button>
            <button class="btn btn-warning btn-sm m-4" (click)="deleteUser(user.id)">
        Delete
      </button>
        </div>
    </div>